*{
    margin: 0;
    padding: 0;
    font-family: system-ui;
    font-style: italic;
    box-sizing: border-box;
  }
  html{
    scroll-behavior: smooth;
  }
  body{
    background-color: #704264;
    color:#e0ddcd;
  
  }
  #main{
    width: 100%;
  }
  .container{
    padding: 10px 10%;
  }
  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .logo{
    width:180px;
  }
  nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
  }
  nav ul li a{
    color:#e0ddcd;
    text-decoration: none;
    font-size: 20px;
    position: relative;
  }
  nav ul li a::after{
    content: '';
    width:0;
    height:3px;
    background:#F6F3E4 ;
    position: absolute;
    left:0;
    bottom: -6px;
  }
  nav ul li a:hover::after{
    width:100%;
    transition: 0.5s;
  }
  .projectcards {
    width: 90%;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px; /* Add gap between grid items */
  }
  
  .projectcards_comp {
    width: 100%;
    height:100%;
    border: none;
    margin: 0;
    padding: 20px;
    background-color: #edebdd; /* Add a background color */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Update box shadow */
    border-radius: 20px;
    transition: transform 0.3s ease; /* Add a smooth transition effect */
  }
  
  .projectcards_comp:hover {
    transform: translateY(-5px); /* Add a subtle hover effect */
  }
  
  .projectcards_comp img {
    width: 100%;
    height: 200px; /* Adjust the height for better consistency */
    object-fit: cover; /* Ensure images maintain aspect ratio */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  
  .projectcards_comp .content {
    padding: 20px;
  }
  
  .projectcards_comp h1 {
    margin: 0;
    color: #c5bd93;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .projectcards_comp p {
    margin: 0;
    color: #BB8493;
    font-size: 1rem;
  }
  .copyright{
    width:100%;
    text-align: center;
    padding: 25px 0;
    background: #c3bebf;
    color:#704264;
    font-weight: 500;
    margin-top: 20px;
  }
    
  